# Data collection and combination

In [3]:
import pandas as pd

file_paths = ['data/boning.csv', 'data/slicing.csv']

cols_to_read = [f'left Hand {i}' for i in ['x', 'y', 'z']] + [f'Left Hand {i}' for i in ['x', 'y', 'z']] + ['Frame']

boning_df = pd.read_csv(file_paths[0], usecols=cols_to_read)
boning_df['class'] = 0
slicing_df = pd.read_csv(file_paths[1], usecols=cols_to_read)
slicing_df['class'] = 1

df = pd.concat([boning_df, slicing_df], ignore_index=True)

df.to_csv('data/combined_data.csv', index=False)

boning_df

,Frame,Right Hand x,Right Hand y,Right Hand z,Left Hand x,Left Hand y,Left Hand z,class
0,0,0.311465,-0.329472,0.750763,0.906499,-0.024053,0.779686,0
1,1,0.563723,-0.088187,1.033415,0.917992,0.172597,0.860215,0
2,2,0.474087,-0.922834,0.802289,0.813233,0.054823,0.709743,0
3,3,0.690891,-1.622115,0.393867,0.557506,0.006721,0.910102,0
4,4,0.179927,-1.985673,1.390812,0.409958,-0.113903,0.978904,0
...,...,...,...,...,...,...,...,...
54175,54175,-7.033036,4.311233,-0.305157,0.465461,1.037237,-1.409590,0
54176,54176,-5.605467,3.575573,0.374206,0.733552,1.110361,-1.127807,0
54177,54177,-3.536271,1.917026,1.519445,0.889964,0.831732,-0.360416,0
54178,54178,-2.593854,-0.010404,3.676373,0.557764,0.449727,0.548133,0
54179,54179,-2.224576,-0.391758,4.339467,0.455121,0.301638,0.985957,0

# Create composite columns

In [14]:
import numpy as np

# ------- Column set 1 - Right hand -------

# Root mean square of x and y
df['rmsq_right_xy'] = np.sqrt( np.mean(df[['Right Hand x', 'Right Hand y']] ** 2, axis=1))

# Root mean square of y and z
df['rmsq_right_yz'] = np.sqrt( np.mean(df[['Right Hand y', 'Right Hand z']] ** 2, axis=1))

# Root mean square of x and z
df['rmsq_right_xz'] = np.sqrt( np.mean(df[['Right Hand z', 'Right Hand x']] ** 2, axis=1))

# Root mean square of x, y and z
df['rmsq_right_xyz'] = np.sqrt( np.mean(df[['Right Hand x', 'Right Hand y', 'Right Hand z']] ** 2, axis=1))

# Right hand roll and pitch value
df['right_hand_roll'] = 180 * np.arctan2(df['Right Hand y'], np.sqrt(df['Right Hand x'] ** 2 + df['Right Hand z'] ** 2)) / np.pi

df['right_hand_pitch'] = 180 * np.arctan2(df['Right Hand x'], np.sqrt(df['Right Hand y'] ** 2 + df['Right Hand z'] ** 2)) / np.pi

# ------- Column set 2 - Left hand -------

# Root mean square of x and y
df['rmsq_left_xy'] = np.sqrt( np.mean(df[['Left Hand x', 'Left Hand y']] ** 2, axis=1))

# Root mean square of y and z
df['rmsq_left_yz'] = np.sqrt( np.mean(df[['Left Hand y', 'Left Hand z']] ** 2, axis=1))

# Root mean square of x and z
df['rmsq_left_xz'] = np.sqrt( np.mean(df[['Left Hand z', 'Left Hand x']] ** 2, axis=1))

# Root mean square of x, y and z
df['rmsq_left_xyz'] = np.sqrt( np.mean(df[['Left Hand x', 'Left Hand y', 'Left Hand z']] ** 2, axis=1))

# left hand roll and pitch value
df['left_hand_roll'] = 180 * np.arctan2(df['Left Hand y'], np.sqrt(df['Left Hand x'] ** 2 + df['Left Hand z'] ** 2)) / np.pi

df['left_hand_pitch'] = 180 * np.arctan2(df['Left Hand x'], np.sqrt(df['Left Hand y'] ** 2 + df['Left Hand z'] ** 2)) / np.pi

df.head()

20

# Data pre-processing and feature computation

In [ ]:
# Calculate the AUC for one column
df['AUC'] = np.cumsum(df.points)-np.concatenate(([0], np.cumsum(np.diff(df.points)/2)), axis=0)